//Fonts
$primary-font-regular: 'Poppins';
$primary-font-semi-bold: 'Poppins Semi';
$primary-font-bold: 'Poppins Bold';
$primary-font-extra-bold: 'Poppins Extra Bold';

$secondary-font-regular: 'PlayfairDisplay Regular';
$secondary-font-bold: 'PlayfairDisplay Bold';


$font-size-smaller: .575rem;
$font-size-small: .675rem;
$font-size-regular: 1rem;
$font-size-large: 2rem;
$font-size-larger: 2.5rem;

//Colors
$white-color: #ffffff;
$black-color: #000000;
$baige-color: rgb(159, 105, 56);
$green-color:rgb(100, 177, 97);
$dark-green-color: rgb(48, 83, 21);
$silver-color: rgb(41, 41, 41);
$gray-color: rgb(10, 10, 10);
$gray-black-color: rgb(46, 46, 46);

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
