//Variables
@import "variables";

//Bootstrap
@import "~bootstrap/scss/bootstrap";

//Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

//Fonts
@font-face {
    font-family: $primary-font-regular;
    src: url('./../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: $primary-font-semi-bold;
    src: url('./../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: $primary-font-bold;
    src: url('./../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: $primary-font-extra-bold;
    src: url('./../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: $secondary-font-regular;
    src: url('./../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: $secondary-font-bold;
    src: url('./../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
}

body{
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: $white-color;
    font-family: $primary-font-regular;
}

//background
.bg{
    &--baige{
        background-color: $baige-color;
    }

    &--dark-green{
        background-color: $dark-green-color
    }

    &--black{
        background-color: $black-color;
    }

    &--gray{
        background-color: $gray-color;
    }
}

//text
.text{
    &--dark-green{
        color: $dark-green-color;
    }

    &--green{
        color: $green-color;
    }
}

.fw{
    &--400{
        font-weight: 400;
    }

    &--500{
        font-weight: 500;
    }

    &--600{
        font-weight: 600;
    }

    &--700{
        font-weight: 700;
    }

    &--800{
        font-weight: 800;
    }

    &--900{
        font-weight: 900;
    }

    &--bold{
        font-weight: bold;
    }

    &--bolder{
        font-weight: bolder;
    }
}

.fs{
    &--smaller{
        font-size: $font-size-smaller;
    }

    &--small{
        font-size: $font-size-small;
    }

    &--regular{
        font-size: $font-size-regular;
    }

    &--large{
        font-size: $font-size-large;
    }

    &--larger{
        font-size: $font-size-larger;
    }
}

//buttons
.btn-silver{
    background-color: $silver-color;
    color:$white-color;
}

#footer-container{
    //background-image: url('/dist/images/footer-backdrop.svg');
    // background-position:center;
    // background-attachment: scroll;
    //background-size:cover;
    // background-repeat: repeat;
    background-color: $gray-color;
}


/* BOOTSTRAP ICONS
*/

.bi{
    font-size: 1.25rem;
    margin: 0 3px;
}

.bi-sm::before{
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

/* JQUERY VALIDATE JS
-------------------------------------------------- */
label.error{
    color: #FF0000;
    font-size: 12px;
}




/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
