@import "variables";

.carousel {
    margin-bottom: 0;

    &-caption{
        bottom: 3rem;
        z-index: 10;

         h1{
            font-size: 5rem;
            font-family: $secondary-font-regular;
         }

         h2{
            font-size: 3.5rem;
            font-family: $secondary-font-regular;
         }
    }

    &-item {
        height: 32rem;
    }
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

#home-section-one {
    height: 250px;
    background-color: $dark-green-color;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home-section-two{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-section-three{
    // height: 450px;
}

#home-backdrop{
    background-image: url('/dist/images/home-backdrop-1.svg');
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    background-repeat: repeat;
}

#home-blog-list{
    height: auto;
    padding: 4rem 0;

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
}
