@import "./../variables";
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons';

//Fonts
@font-face {
    font-family: $primary-font-regular;
    src: url('./../../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: $primary-font-semi-bold;
    src: url('./../../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: $primary-font-bold;
    src: url('./../../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: $primary-font-extra-bold;
    src: url('./../../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: $secondary-font-regular;
    src: url('./../../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: $secondary-font-bold;
    src: url('./../../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
}

body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $white-color;
    font-family: $primary-font-regular;
}

.w{
    &-20 {
        width: 20%;
    }
    &-18 {
        width: 18%;
    }
}

//background
.bg{
    &--baige{
        background-color: $baige-color;
    }

    &--dark-green{
        background-color: $dark-green-color
    }

    &--black{
        background-color: $black-color;
    }

    &--gray{
        background-color: $gray-color;
    }
}

//text
.text{
    &--dark-green{
        color: $dark-green-color;
    }
    &--baige{
        color: $baige-color;
    }
    &--green{
        color: $green-color;
    }
    &--light-blue{
        color: rgb(214, 234, 248);
    }

}

.fw{
    &--400{
        font-weight: 400;
    }

    &--500{
        font-weight: 500;
    }

    &--600{
        font-weight: 600;
    }

    &--700{
        font-weight: 700;
    }

    &--800{
        font-weight: 800;
    }

    &--900{
        font-weight: 900;
    }

    &--bold{
        font-weight: bold;
    }

    &--bolder{
        font-family: $primary-font-bold;
        font-weight: bolder;
    }
}

.fs{
    &--smaller{
        font-size: $font-size-smaller;
    }

    &--small{
        font-size: $font-size-small;
    }

    &--regular{
        font-size: $font-size-regular;
    }

    &--large{
        font-size: $font-size-large;
    }

    &--larger{
        font-size: $font-size-larger;
    }
}

//buttons
.btn-cs-baige {
    --bs-btn-font-weight: 500;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-baige);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($baige-color, 10%)};
    --bs-btn-hover-border-color: #{shade-color($baige-color, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bs-baige-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($baige-color, 20%)};
    --bs-btn-active-border-color: #{shade-color($baige-color, 20%)};
}

// .bi{
//     font-size: 1.25rem;
//     margin: 0 3px;
// }

// .bi-sm::before{
//     font-size: 0.8rem;
//     margin-bottom: 0.3rem;
//     margin-left: 0.3rem;
// }

//errors
label{
    &.error{
        color: #FF0000;
        font-size: 12px;
    }

    &.form-label{
        font-weight: 600;
    }
}

.invalid-feedback{
    font-size: .675rem;
}


/*
*** ADMIN SIDEBAR & ICONS
*/

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 18px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.nav-link{
    display: flex;
    // justify-content: start;
    // align-items: center;
    &:hover{
        color: rgb(253, 254, 254);
    }
}

// .sidebar .nav-link {
//     font-weight: 500;
//     color: #333;
// }

// .sidebar .nav-link .feather {
//     margin-right: 4px;
//     color: #727272;
// }

// .sidebar .nav-link.active {
//     color: #2470dc;
// }

// .sidebar .nav-link:hover .feather,
// .sidebar .nav-link.active .feather {
//     color: inherit;
// }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.custom-dropdown {
    position: relative;
    display: inline-block;

    &-link{
        cursor: pointer;
    }
    
    &-content {
        display: none;
        position: absolute;
        background-color: $white-color;
        min-width: 150px;
        -webkit-box-shadow: -2px 13px 69px -24px rgba(0,0,0,0.54);
        -moz-box-shadow: -2px 13px 69px -24px rgba(0,0,0,0.54);
        box-shadow: -2px 13px 69px -24px rgba(0,0,0,0.54);
        z-index: 1;
        right: 0.1rem;
        top: 2rem;

        a{
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            display: block;

            &:hover{
                background-color: $navy-blue;
                color: $white-color;
            }
        }
    }
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


